/*Resetear todos los estilos*/

.home-page,
.home-page * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: none;
}

/*Estilos de home page*/

.home-page {
  position: fixed;
  display: flex;
  inset: 0;
  background: #fbd5e5;
  z-index: 10;
  color: #1a1a1a;
  flex-direction: column;

  .home-header {
    gap: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;    

    .banner {
      background-color: #222222;
      width: 100%;
      font-size: 12px;
      padding: 0.2rem;
      font-weight: 600;
      color: white;
    }

    .nav-links {
      width: 60%;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      padding: 0.5rem 1.5rem;

      .nav-icons {
        display: flex;
        list-style-type: none;
        align-items: center;
        grid-column: 3;
        justify-self: end;
        gap: 1rem;
      }
    }

    .logoAurea {
      font-size: 3rem;
      text-align: center;
      font-weight: 100;
      letter-spacing: -5px;
      cursor: pointer;
      grid-column: 2;
      justify-self: center;
      cursor: pointer;
      strong {
        font-weight: 700;
      }
    }
  }
}
