.card-form,
.card-form * {
  box-sizing: border-box;
}

.card-form input,
.card-form select {
  background-color: #ffffff !important;
  color: #111827 !important;
}

.num-tarjeta {
  display: flex;
    justify-content: space-between;
    padding: 5px;

  border: 1px solid #d1d5db;
  border-radius: 5px;
  input {
    border: none;
    outline: none;
  }
  .franquicia-img {
    width: auto;
    height: 10px;
  }
}

.franquicia-wrapper {
  outline: 1px solid #d1d5db;
  border-radius: 5px;
}
