.card-form,
.card-form * {
  box-sizing: border-box;
}

.card-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-form input,
.card-form select {
  background-color: #ffffff !important;
  color: #111827 !important;
}

label {
  font-size: 14px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.num-tarjeta {
  display: flex;
  justify-content: space-between;
  padding: 5px;

  border: 1px solid #d1d5db;
  border-radius: 5px;
  input {
    border: none;
    outline: none;
  }
  .franquicia-img {
    width: 100%; /* Ocupa todo el ancho del padre */
    height: 100%; /* O un alto fijo, ej: 300px */
    object-fit: contain; /* Cubre todo el contenedor sin deformar */
  }
}

.franquicia-wrapper-fijo {
  /* Clase para reservar el espacio del wrapper de la tarjeta */
  width: 31px;
  height: 21px;
  border: none;
  outline: none;
}

.franquicia-wrapper {
  width: 31px;
  height: 21px;
  overflow: hidden;
  outline: 1px solid #d1d5db;
  border-radius: 5px;
  padding-top: 0px;
  margin-top: none;
}
