:root {
  --color-primario: #fbd5e5; /* Un azul vibrante */
  --color-secundario: #d5fbeb; /* Un gris neutro */
  --color-texto-main: #2f3132;
  --color-badge: #9274c7;
}

.card-form,
.card-form * {
  box-sizing: border-box;
}

.card-form {  
  max-width: 370px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-form input,
.card-form select {
  background-color: #ffffff !important;
  color: #111827 !important;
}

label {
  font-size: 14px;
}

.input-data-cardForm {
  width: 100%;
  border: none;
  outline: 1px solid #d1d5db;
  border-radius: 5px;
  padding: 5px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  select{
    border: none;
    outline: 1px solid #d1d5db;
    border-radius: 5px;
    padding: 5px;
  }
}

.field-type {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  select{
    width: 100%;
    border: none;
    outline: 1px solid #d1d5db;
    border-radius: 5px;
    padding: 5px;
  }
}

.field-code {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  select{
    width: 100%;
    border: none;
    outline: 1px solid #d1d5db;
    border-radius: 5px;
    padding: 5px;
  }
}

.field-cuotas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  select{
    width: 100%;
    border: none;
    outline: 1px solid #d1d5db;
    border-radius: 5px;
    padding: 5px;
  }
}

.row-exp-cvc{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.row-type-doc{
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 15px;

}

.row-cod-cel{
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 15px;
}


.num-tarjeta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;

  border: 1px solid #d1d5db;
  border-radius: 5px;
  input {
    border: none;
    outline: none;
  }
  .franquicia-img {
    width: 100%; /* Ocupa todo el ancho del padre */
    height: 100%; /* O un alto fijo, ej: 300px */
    object-fit: contain; /* Cubre todo el contenedor sin deformar */
  }
}

.franquicia-wrapper-fijo {
  /* Clase para reservar el espacio del wrapper de la tarjeta */
  width: 31px;
  height: 21px;
  border: none;
  outline: none;
}

.franquicia-wrapper {
  width: 31px;
  height: 21px;
  overflow: hidden;
  outline: 1px solid #d1d5db;
  border-radius: 5px;
  padding-top: 0px;
  margin-top: none;
}


.pay-button{
  background-color: var(--color-primario);
  border: none;
  border-radius: 10px;
  color: #2f3132;

  font-weight: 600;
  padding: 10px;
  cursor: pointer;

}
